<div id="<%= dom_id speaker %>">
  <p>
    <strong>First name:</strong>
    <%= speaker.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= speaker.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= speaker.email %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= speaker.url %>
  </p>

</div>
